#[Member]
ETCD_NAME={{ansible_hostname}}
ETCD_DATA_DIR="/var/lib/etcd/default.etcd"

ETCD_LISTEN_PEER_URLS="http://{{ ansible_eth0.ipv4.address}}:2380"
ETCD_LISTEN_CLIENT_URLS="http://{{ ansible_eth0.ipv4.address}}:2379,http://localhost:2379"

#[Clustering]
ETCD_INITIAL_ADVERTISE_PEER_URLS="http://{{ ansible_eth0.ipv4.address}}:2380"
ETCD_ADVERTISE_CLIENT_URLS="http://{{ ansible_eth0.ipv4.address}}:2379"
ETCD_INITIAL_CLUSTER="{{host1}}=http://{{node1}}:2380,{{host2}}=http://{{node2}}:2380,{{host3}}=http://{{node3}}:2380"
ETCD_INITIAL_CLUSTER_TOKEN="etcd-cluster"
ETCD_INITIAL_CLUSTER_STATE="new"
