apiVersion: v1
kind: Config
users:
- name: kubelet
clusters:
- name: kubernetes
  cluster:
    server: {{vip}}:8080
contexts:
- context:
    cluster: kubernetes
    user: kubelet
  name: default
current-context: default
