KUBE_MASTER="--master={{vip}}:8080"
KUBE_LOG_LEVEL="--v=2"
KUBE_LOGTOSTDERR="--logtostderr=false"
KUBE_LOG_DIR="--log-dir=/usr/local/kubernetes/logs/"
# KUBE_CONTROLLER_MANAGER_OPTS="--leader-elect=true"
# KUBE_SCHEDULER_OPTS="--leader-elect"
